@font-face {
    font-family: opensansRegular;
    src: url("../public/font/OpenSans-Regular.woff2");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: opensansBold;
    src: url("../public/font/OpenSans-Bold.woff2");
    font-weight: bold;
    font-style: normal;
  }

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: opensansRegular;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: rgb(219, 219, 219);

    max-width: 1000px;
    justify-self: center;
    margin-bottom: 100px;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

@media (max-width: 600px) {
    h1 {
        font-size: 15px;
    }

    h2 {
        font-size: 15px;
    }

    p {
        font-size: 13px;
    }
}
