.container {
    padding-left: 5px;
    padding-right: 5px;
    width: calc(100% - 10px);
    justify-self: center;
}

.main {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    overflow: hidden;
    width: 100%;
    border-radius: 3px;
}

.video-container {
    background-image: url("../public/images/12345.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    filter: blur(4px);
    filter: grayscale(6);
    width: 100%;
    position: relative;

}

.text-container {
    border-radius: 15px;
    padding: 10px;
    color: rgb(14, 14, 14);
}

.caption-name {
    font-size: 23px;
    font-family: great-vibes;
    font-weight: 500;
}

.text-beauty {
    text-align: right;
    font-size: 16px;
    font-family: great-vibes;
    font-weight: 500;
    padding-top: 10px;
}

.video-button {
    position: absolute;
    width: 100%;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(193, 193, 193, 0.5);
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}



.image-face {
    width: 50%;
    object-fit: cover;
}


@media (min-width: 480px) {
    .container {
        width: 95%;
    }

}