.container {
    padding-left: 10px;
    padding-right: 10px;
    width: 350px;
    justify-self: center;
}

.main {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 45px;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
}

.video-container {
    width: 50%;
    position: relative;
}

.text-container {
    position: absolute;
    top: 90px;
    left: 40%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
}

.caption-name {
    font-size: 14px;
}

.text-beauty {
    text-align: right;
    font-size: 11px;
}

.video-button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 13px;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-face {
    width: 50%;
    object-fit: cover;
}
