.main {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 50px;
    border-radius: 15px;
    overflow: hidden;
}

.video-container {
    position: relative;
}

.text-container {
    position: absolute;
    top: 90px;
    left: 50%;
    max-width: 300px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
}

.text-beauty {
    text-align: right;
    font-size: 16px;
}

.video-button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}

.video {
    width: 300px;
    max-height: 300px;
    object-fit: cover;
}

.image-face {
    width: 300px;
    max-height: 300px;
    object-fit: cover;
}

@media (max-width: 600px) {
    .video {
        width: 100%;

    }

    .image-face {
        width: 150px;

    }

    .text-beauty {
        font-size: 10px;
    }

    .video-button {
        padding: 8px;
        font-size: 12px;
    }

    .caption-name {
        font-size: 12px;
    }
}