.about-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
    width: 100%;
}

.image-about {
    width: 40%;
    object-fit: cover;
    border-radius: 15px;
}

.caption-about {
    position: relative;
    top: -30px;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

.caption-about::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: gray;
}

.social-item {
    padding-right: 15px;
}

.link_social {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.about-social {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.text-about {
    position: relative;
    padding-left: 15px;
    font-size: 12px;
}

.addr {
    font-size: 12px;
}

.text-about::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 3px;
}

/* Общие стили */
.social-icon {
    position: relative;
    padding-left: 15px;
    font-size: 12px;
}

.social-icon::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.social-telegram::before {
    background-image: url("../../../../public/images/telegram.png");
}

.social-instagram::before {
    background-image: url("../../../../public/images/instagram.png");
}

.social-phone::before {
    background-image: url("../../../../public/images/phone.png");
}
