.about-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.image-about {
    width: 40%;
    object-fit: cover;
    border-radius: 15px;
}

.caption-about {
    position: relative;
    top: -30px;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

.caption-about::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: gray;
}

.text-about {
    position: relative;
    padding-left: 15px;
    font-size: 12px;
}

.addr {
    font-size: 12px;
}

.text-about::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 3px;
}

