.portfolio {
    width: 100%;
    margin-bottom: 30px;
    justify-items: center;
}

.caption-portfolio {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    margin-bottom: 16px;
    width: 100%;
}

.caption-portfolio::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: gray;
}

.portfolio-section {
    box-sizing: border-box;
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    width: 100%;
    padding-bottom: 10px;
    border-radius: 15px;
    overflow-y: hidden;
}

.portfolio-section::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 15px;
    background-color: #dacdcd;
}

.portfolio-section::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 15px;
}

.portfolio-section::-webkit-scrollbar-track {
    background-color: transparent;
}

.portfolio-section::-webkit-scrollbar-corner {
    background-color: transparent;
}

.card {
    flex-shrink: 0;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}