.price-box {
    background-image: url("../../../../public/images/nail-price.jpg");
    background-repeat: no-repeat;
    background-size: cover;


    padding: 10px 5px 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    filter: grayscale(0.5);

}


.service-box {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 150px;
}

.service-end {
    align-self: flex-end;
}

.service-item {
    font-size: 9px;
    padding-bottom: 4px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

.price {
    font-weight: bold;
}


.caption-price {
    position: relative;
    top: -8px;
    display: inline-block;

    font-size: 12px;
    width: 100%;
}

.caption-price::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: gray;
}
