.price-box {
    background-image: url("../../../../public/images/price-new.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 30%;

    padding-left: 5px;
    padding-right: 5px;
    max-width: 450px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 120px;
    gap: 10px;
}

.nullBox {
    grid-row: span 1;
    grid-column: span 2;
}

.box-2 {
     grid-column: span 2;
     align-self: baseline;
}

.service-box {
    width: 150px;
    justify-self: center;
}

.service-item {
    font-size: 9px;
    padding-bottom: 4px;
    display: flex;
    justify-content: space-between;

}

.price {
    font-weight: bold;
}

.caption-price-main {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    margin-bottom: 3px;
    width: 100%;
}

.caption-price-main::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: gray;
}

.caption-price {
    position: relative;
    top: -8px;
    display: inline-block;

    font-size: 12px;
    width: 100%;
}

.caption-price::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: gray;
}